 <p class="trim-image-to-circle"></p>
  <h1>近畿大学</h1>
  <p>@kinkidaigakuPR</p>
　　　 
  <p>近畿大学のTwitter公式アカウントです。気象警報による休講情報や、お得なランチ情報など、大学に関する情報を発信します。
               マグロに関するツイート多め🐟学生のみなさんの相談に乗りますので、くだらないことも気軽に話しかけてください。
               履修に関するご質問は所属学部。入試に関するご相談は、入学センターへお問い合わせ下さい。
  </p>
  <ul>
   <li><a>大阪府東大阪市</a></li>
   <li><a href="https://www.instagram.com/kindaiuniversity/">instagram</a></li>
  </ul>
  <a href='tweets/new' class="btn-square">tweet</a>