
<% if @tweet.errors.present? %>
<h3>There is an error.</h3>
<ul>
 <% @tweet.errors.full_messages.each do |msg| %>
  <li><%= msg %></li>
 <% end %>
</ul>
<% end %>

<%= form_for @tweet , name: {action: :update} do |f| %>
 <%= render "form" ,f:f%>
 <% @tweet.tdate = @tweet.tdate %>
 <%= f.hidden_field :tdate %>
<% end %>
<p><%= link_to 'Back', root_path %></p>
