<head>
    <meta charset="UTF-8" />
    <link rel="stylesheet" type="text/css" href="css/style.css">
    
</head>



<% if flash[:notice]%>
 <%= flash[:notice]%>
<% end %>


<% @tweets.each do |tweet| %>
<hr>
<p>
    <% t1 = Time.current %>
    <% t2 = tweet.tdate %>
    <% t = t1 - t2 %>
    <p>近畿大学 @kinkidaigakuPR   <%=t.ceil%><%="秒前"%></p>
    <%= tweet.message %>
    <%= link_to 'delete', tweet_path(tweet.id),method: :delete %>
    <%= link_to 'show', tweet_path(tweet.id) %>
    <%= link_to 'edit', edit_tweet_path(tweet.id) %>
</p>
<hr>
<% end %>


