
<% if @tweet.errors.present? %>
<h3>There is an error.</h3>
<ul>
 <% @tweet.errors.full_messages.each do |msg| %>
  <li><%= msg %></li>
 <% end %>
</ul>
<% end %>

<p>
 <%= form_for @tweet , name: {action: :create} do |f| %>
 <%= render "form" ,f:f%>
 <% @tweet.tdate = Time.current %>
 <%= f.hidden_field :tdate %>
 <p><%= link_to 'Back', root_path %></p>
<% end %>
</p>