<p>
    <strong>date:</strong>
    <%= @tweet.tdate %>
</p>

<div style="display:inline-block;padding: 10px; margin-bottom: 10px; border: 1px solid #333333;">
   <p>
    <strong>tweet:</strong>
    <p><%= @tweet.message %></p>
</p>
</div>

<%= link_to 'Back', root_path %>