/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */





#footer{
    width: 100%;
    background-color: #89c7de;
    color: #fff;
    text-align: center;
    padding: 10px 0;
    float: left;
}
#sidebar{
    background-color:#e0ffff;
    width: 20%;
    float: left;
    margin: 0 auto;
}
#content{

    width: 75%;
    float: right;
    margin: 0 auto;
}
#footer{
    width: 100%;
    background-color: #89c7de;
    color: #fff;
    text-align: center;
    padding: 10px 0;
    float: left;
}

.trim-image-to-circle {
    background-image: url("begsOPlp_400x400.jpg");
    width:  180px;
    height: 180px;
    border-radius: 50%;
    background-position: center center;
    
}
.image-to-circle {
    background-image: url("キャプチャ.PNG");
    height: 250px;
    width: 100%;
    background-position: center center;
    
}



.btn-square {
  display: inline-block;
  padding: 7px 20px;
  border-radius: 25px;
  text-decoration: none;
  color: #FFF;
  background: #668ad8;
  transition: .4s;
}
.btn-square:active {
  /*ボタンを押したとき*/
  -webkit-transform: translateY(4px);
  transform: translateY(4px);/*下に動く*/
  border-bottom: none;/*線を消す*/
}

.btn-squareR {
  float: right;
  padding: 7px 20px;
  border-radius: 25px;
  text-decoration: none;
  color: #FFF;
  background: #668ad8;
  transition: .4s;
}
.btn-squareR:active {
  /*ボタンを押したとき*/
  -webkit-transform: translateY(4px);
  transform: translateY(4px);/*下に動く*/
  border-bottom: none;/*線を消す*/
}